:root {
  --dark-theme: #2b4257;
  --light-theme: #e3ebf2;
  --card-accent: #6da7cc;
  --btn-accent: #88a9c3;
}

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-theme);
  font-family: "Alice", serif;
  font-size: 16px;
}
